h3 {
    margin: 0 0 10px;
  }

pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

// .btn{
//     background-color: black;
//     color: white;
//     margin-top: 0.5rem; 
// }
.UpdateBtn{
  background-color: black;
  color: white;
  margin-top: 0.5rem;
  float: right;
}
.mat-header-cell{
  width: 18rem;
}

.mat-column-Actions {
  flex: 0 0 100px !important;
  white-space: unset !important;
}
td:first-child, th:first-child {
  position:sticky;
  z-index:1;
  left: 0;
  background:blanchedalmond;
  width: 250px !important;
}
.wrapper{
  overflow-x: scroll;
}
.modal-body{
  overflow: scroll !important;
}
table {
  width: 100%;
  table-layout: fixed;
  overflow:scroll;
}

th, td {
  overflow: hidden;
  width: 120px !important;
  padding-left: 24px !important;
}
.row-header{
align-items: center;
display: inline-block;
}
.row-item{
flex-grow: 2;
flex-wrap: wrap;
display: inline-block;
}
.filter-position{
margin-left: auto;
width: 1rem;
margin-top: 2px;
}
.filtered-icon{
color: green;
font-size: 10px;
width: 10px;
position: absolute;
padding-left: 2px;

}
.filter-icon{
width: 11px;
position: relative;
cursor: pointer;
}
.btn{
  background-color: black;
  color: blanchedalmond;
  border-color: blanchedalmond;
}