<div class="mat-toolbar">
  <div class="flex-container">
    <div class="col-5">TG<mat-icon class="mat-icon1">circle</mat-icon></div>
    <div class="flex-item1">Shift Roster</div>
    <div class="flex-item" routerLink="/register">Register</div>
    <div class="flex-item" routerLink="/">Login</div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card mt-3">
        <div class="card-header" align="center">
          <h3>Recover Password</h3>
        </div>

        <div class="card-body">
          <form #loginForm="ngForm">
            <div class="form-group">
              <label for="exampleInputEmail1"
                >Enter your email address to send the password</label
              >

              <input
                type="email"
                name="email"
                class="form-control"
                required
                placeholder="Enter email"
                ngModel
              />
              <br />
            </div>

            <div align="center">
              <button class="btn" mat-raised-button>Send Request</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
