.closeBtn{
    color: red;
    margin-top: 0.5rem;
    float: right;
    cursor: pointer;
    font-weight: bold;
}
.time-off{
    margin-top: 2rem;
  }
.textNote{
    width: 20rem !important;
}
.sendBtn{
    float: right;
}
  