.title{
    background-color: black;
    height: 4rem;
    color: lightyellow;
}
.col-9{
    font-size: 2.5rem;
    font: bolder;
    font-family: sans-serif;
}
.col-1{
    margin-top: 1.1rem;
    font-size: 0.9rem;
}
.mat-icon{
    color: yellowgreen;
    font-size: 0.5rem;
}
